:root {
    --bs-body-font-family: 'Open Sans', sans-serif;
    --background: #e7e7e7;
    --primary: #1a6eec;
    --secondary: #a9aabc;
    --dark: #444655;
    --darker: rgb(54, 54, 54);
    --main-shadow: 0px 0px 24px 2px rgba(0,0,0,0.39);
}

h5 span {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--text);
}

.event-card {
    background: none;
    border: 0.25rem var(--dark) solid;
}

.event-action-icon {
    font-size: 2rem;
    color: var(--dark);
}

.btn {
    font-size: 14px;
}

.cercle-x {
    font-size: 20vw;
}

.custom-margin-2 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.fleche-retour {
    font-size: 40px;
}

.screen-center-y {
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    
}

@media screen and (orientation : portrait ){
    .cercle-x {
        font-size: 16vh;
    }
}

.event-card {
    margin: 2rem 0 2rem 0;
}

.event-card-title {
    padding: 0;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card h5 {
    margin-bottom: 1rem;
}

.card hr {
    margin-bottom: 1.5rem;
}


.custom-margin {
    margin: 40px;
}

.img-container {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.img-container img {
    width: 200%;
}

.height100 {
    height: 100%;
    viewport-fit: 100%;
}

.card {
    background-color: white;
    border-radius: 0.7rem;
    border: none;
}

.cercle {
    font-size: 130px;
}

.custom-margin-2 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.choose-icon {
    color: var(--dark);
    font-size: 15vw;
}

.choose-title {
    margin-bottom: 6rem;
}

.event-info-img {
    background-size: cover!important;
}

.bg-darker {
    background-color: var(--darker);
}

.bg-darker p, .bg-darker h1, .bg-darker span {
    color: white;
}

.shadow {
    box-shadow: var(--main-shadow);
}