// Modifying Bootstrap's default colors
// sass --watch style/scss/variables.scss:style/scss/compiled-variables.css

$purple: #5a5cd7;
$dark-purple: #484554;
$green: #1a9f6b;
$yellow: #ffc45d;
$red: #d72a54;
$light-grey: #e7e7e7;
$white: #ffffff;

$primary: $purple;
$secondary: $white;
$dark: $dark-purple;
$success: $green;
$warning: $yellow;
$danger: $red;
$background: $light-grey;



@import "../../node_modules/bootstrap/scss/bootstrap";


html {font-size: 100%;} /*16px*/

body {
  background: $background;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: $dark;
}

p {margin-bottom: 0;}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.4rem;
}

h2 {font-size: 1.5rem;}

h3 {font-size: 1.15rem;}

small, .text_small {font-size: 0.833rem;}
